{% extends "base.html" %}

{% block mainArea %}

    <form method="put" class="form h-full w-full rounded-lg" id="form">
        {% csrf_token %}
        <div class="h-full w-full">
            <div class="h-[50px] w-full border-b border-slate-600 pb-3">
                <div class="h-full w-full flex ap-3 justify-between items-center">
                    <div class="title h-full w-full flex items-center">
                        <span class="font-bold text-2xl uppercase">Purchases</span>
                    </div>
                    <div class="flex w-max gap-3 h-full items-center">
                        <button class="cursor-pointer rounded-lg bg-emerald-700 py-2 px-4 opacity-75 hover:opacity-100 whitespace-nowrap transition-all duration-300 ease-in-out">Update Purchase</button>
                    </div>
                </div>
            </div>
            <div class="min-h-[90px] mt-5 w-full">
                <div class="h-full w-full grid grid-cols-4 gap-3 gap-y-5">
                    <div class="input-field h-[80px] space-y-1 col-span-1">
                        <p class="pb-1">
                            <label for="branch_name" class="text-[12px] font-semibold py-2">Branch Name</label>
                        </p>
                        <div class="h-[50%] w-full">
                            <input
                                type="text"
                                placeholder="Branch Name"
                                name="branch_name"
                                id="branch_name"
                                value="{{branch.branch_name}}"
                                class="h-full border-slate-500 border-2 rounded-md px-3 bg-transparent text-[14px] w-full"
                            />
                        </div>
                        <p class="text-[10px]">
                            Branch Name
                        </p>
                    </div>

                    <div class="input-field h-[80px] space-y-1 col-span-1">
                        <p class="pb-1">
                            <label for="bhfId" class="text-[12px] font-semibold py-2">Branch ID</label>
                        </p>
                        <div class="h-[50%] w-full">
                            <input
                                type="text"
                                placeholder="Branch ID"
                                name="bhfId"
                                id="bhfId"
                                value="{{branch.bhfId}}"
                                class="h-full border-slate-500 border-2 rounded-md px-3 bg-transparent text-[14px] w-full"
                            />
                        </div>
                        <p class="text-[10px]">
                            Branch Id
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock mainArea %}